div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  
  div.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    /* font-size: 40px; */
  }
  
  div.container {
    padding: 10px;
  }

button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }


.center{
    position: absolute;
    top: 25%;
    left:43%;
    right: 43%; 
    /* background:linear-gradient(white, lightblue); */
}

  .search-container button:hover {
    background: #ccc;
  }
  

.header{
    background-color:#008CBA;
    color: white;
    text-align: center;
    
}

.MainBox{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    max-width: 500px;
    margin: 0 auto; 
    border-radius: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px; 
    top: 50%;
    left:50%
}
    
 #weatherContainer{
position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border: 5px solid rgba(97, 95, 95, 0.829);    
    border-radius: 10px;
}

#iconsContainer{
    
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    height: 240px;
    width: 1200px;    
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.icons{
    background-color: #4CAF50;
    display: inline-bock;
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.image{
    height: 140px;
    width: 100%;
}

.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
